<% content_for :title, "スキル一覧 | 管理者 | hello-rails" %>
<% content_for :breadcrumb do %>
  <ol>
    <li>
      <%= link_to "【管理者】スキル一覧", admin_skills_path %>
    </li>
  </ol>
<% end %>

<h1>スキル一覧</h1>

<ul id="skills">
  <% @skills.each do |skill| %>
    <li>
      <%= link_to skill.name, admin_skill_path(skill) %>
    </li>
  <% end %>
</ul>

<%= link_to "新しいスキルを作成", new_admin_skill_path %>
