<% content_for :title, "部署一覧 | 管理者 | hello-rails" %>
<% content_for :breadcrumb do %>
  <ol>
    <li>
      <a href="<%= admin_departments_path %>">【管理者】部署一覧</a>
    </li>
  </ol>
<% end %>

<h1>部署一覧</h1>

<ul id="departments">
  <% @departments.each do |department| %>
    <li>
      <%= link_to department.name, admin_department_path(department) %>
    </li>
  <% end %>
</ul>

<%= link_to "新しい部署を作成", new_admin_department_path %>
