<% content_for :title, "新規部署の作成 | 管理者 | hello-rails" %>
<% content_for :breadcrumb do %>
  <ol>
    <li>
      <a href="<%= admin_departments_path %>">【管理者】部署一覧</a>
    </li>
    <li>
      <a href="<%= new_admin_department_path %>">新規部署の作成</a>
    </li>
  </ol>
<% end %>

<h1>新しい部署の作成しよう</h1>

<%= render "form", department: @department %>
